<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/library-full.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img class="img-circle img-responsive" src="assets/img/profile_pic.jpg" alt="">
                    </div>
                    <h1 class="home-title">Saurabh Kumar</h1>
                </div>
                <h2 class="presentation-subtitle text-center">Software Engineer | Learner | Dreamer</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
</div>